{% extends 'base.html' %}
{% block title %}

    Tags List - {{block.super}}

{% endblock%}

{% block content %}
  <h1 class="mt-5">Tags:</h1>
  {% for tag in tags %}
      <h3><a href="{{tag.get_absolute_url}}">{{tag}}</a></h3>
  {% endfor %}
{%endblock %}